<div class="card" style="border-radius: 15px;">
  <div class="card-body d-flex flex-column justify-content-between">
    {{!-- title --}}
    <h5 class="card-title"><img src="https://cdn2.iconfinder.com/data/icons/business-office-icons/256/To-do_List-512.png" class="img-fluid img-thumbnail" alt="" style="height: 50px;">  Daily tasks</h5>
    {{!-- checkbox --}} 
    <div class="task-list pt-3 pb-3" >
      {{#each tasks}}
      <div class="form-check d-flex justify-content-between">
        <div class="input-container">
          <input class="form-check-input" type="checkbox" value="" id="{{this._id}}">
          <label class="form-check-label {{#if this.done}}strike-through{{/if}}" for="{{this._id}}">
            {{this.name}}
          </label>
        </div>
        <div class="button-container d-flex">
          <a href="/task/{{this._id}}/edit" class="card-link btn btn-outline-info me-1">Edit</a>
          <form action="/task/{{this._id}}?_method=DELETE" method="post">
          <button type="submit"  class="btn btn-outline-danger">Delete</button>
          </form>
        </div>
      </div>
      {{/each}}
    </div>
    {{!-- back --}}
    <a href="/" class="card-link btn btn-secondary">Back</a>
  </div>
</div>